@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f1f5f2;
  --background-start-rgb: #f1f5f2;
  --background-end-rgb: #f1f5f2;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f1f5f2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
}

.container {
  padding: 0 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  max-height: 100vh; /* Mantener un límite de altura máximo */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem; /* Ajuste del padding para mayor uniformidad */
  width: 100%; /* Asegurar que el contenedor tome todo el ancho disponible */
  overflow: hidden; /* Evitar que el contenido sobresalga si es demasiado alto */
}


.featured{
  background-color: #f1f5f2;
  border-radius: 12px;
  max-height: 70vh;
}

.cart-button {
  background-color: #070707;
  padding: 0.75rem 1.5rem; /* Espaciado interno */
  height: 2rem;
  min-width: 12rem;
  border-radius: 0.75rem; /* Borde redondeado */
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.cart-button:hover {
  background-color: #3a864a;
  transform: translateY(-0.125rem);
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
}

.cart-button:active {
  background-color: #7fffb0;
  transform: translateY(0);
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .cart-button {
    height: 3.5rem;
    min-width: 8rem;
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}



/* Estilos adicionales para pantallas más pequeñas */
@media (max-width: 768px) {
  .hero {
    height: auto; /* Permite que la altura sea dinámica en pantallas pequeñas */
    padding: 2rem 1rem; /* Añade más padding para mantener el contenido centrado */
    flex-direction: column; /* Cambia la dirección del flexbox a columna para organizar el contenido verticalmente */
  }
}

.hero-content {
  padding: 0 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
}
